@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body{
    background-color: #121212;
    color: white;
    font-family: poppins,sans-serif;
    scroll-behavior: smooth;
    padding: 0%;
    margin: 0%;
}
.topnav{
    padding: 0px;
    margin: 0%;
    overflow: hidden;
    position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.tnav{
    overflow: hidden;
}
/* From uiverse.io by @satyamchaudharydev */
/* The switch - the box around the slider */
.switch {
    /* --moon-mask: ; */
     font-size: 17px;
     position: relative;
     display: inline-block;
     width: 3.5em;
     height: 2em;
    }
    
    /* Hide default HTML checkbox */
    .switch input {
     opacity: 0;
     width: 0;
     height: 0;
    }
    
    /* The slider */
    .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #f4f4f5;
     transition: .4s;
     border-radius: 30px;
    }
    
    .slider:before {
     position: absolute;
     content: "";
     height: 1.4em;
     width: 1.4em;
     border-radius: 20px;
     left: 0.3em;
     bottom: 0.3em;
     box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -5px 0 0 #a3dafb;
    
    }
    
    input:checked + .slider {
     background-color: #303136;
    }
    
    input:checked + .slider:before {
        transform: translateX(1.5em);
        background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
        transition: .4s;
    }
    .dark-mode{
        background-color: #f9f9f9;
        color: #171717;
    }
    /*end*/
.tnav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2ddba7;

}
.tnav li{
    float: left;
}
.tnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
  }
.tnav li a:hover{
    background-color: #555;
    transition: 0.3s;
}

.tnav img{
    margin:5px 15px 0px ;
    margin-bottom: 0%;
    height: 40px;
}
.navi ul{
    list-style-type: none;
    margin-top: 0%;
    padding: 0px;
    padding-top: 20px;
    width: 15%;
    height: 100%;
    background-color: rgb(16, 16, 16);
    overflow: auto;
    position: fixed;
}
.navi li a{
    display: block;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 20px;
    border-bottom:1px solid #262626 ;
}


.navi li a:hover {
    background-color: #555;
    color: white;
    transition: 0.2s;
}
#al{
    color: #2ddba7;
}
/*Content */
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.container{
    max-width: 800px;
    border-bottom: 1px solid #555;
}
.container p{
    font-size: 20px;
}
.container ul{
    list-style-type: none;
}

/*Algorithm */
.algorithms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.algorithm{
    max-width: 750px;
    
}
.algorithm pre{
    background-color: #171717;
    color: white;
    font-size: 18px;
    padding: 1rem;
    overflow: hidden;
}
.algorithm{
    border-bottom: 1px solid #555;
    padding: 1rem ;
}
#comment{
    color: rgba(194, 81, 81, 0.945);
}
#code{
    color: #2ddba7;
}
/*responsive tabs */
.programs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.programhead{
    font-size: 20px;
    font-weight: 300;
}
.mytabs{
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    /*margin: 50px auto;*/
    padding: 20px;

}
.mytabs a{
    text-decoration: none;
    color: white;
    background: rgb(10,163,158);
    background: linear-gradient(151deg, rgba(10,163,158,1) 0%, rgba(86,28,140,1) 100%);
    float: right;
    padding: .5rem;
    margin-right: .5rem;
    font-size: 15px;
}
.mytabs a:hover{
    background: rgb(10,63,163);
background: linear-gradient(151deg, rgba(10,63,163,1) 0%, rgba(140,28,28,1) 100%);
    transition: 0.9s ease-in-out;
}
  .mytabs input[type="radio"]{
    display: none;
  }
  .mytabs label{
    padding: 20px;
    background-color: transparent;
    color: white;
    margin: 0%;
    font-size: 18px;
    
  }

  .tab{
      position: relative;
      border: 1px solid white;
  }
  .mytabs .tab{
    /*width: 100%;*/
    order: 1;
    display: none;
  }
  .tab pre{
      background-color: #171717;
      color:white;
      margin: 0%;
  }
  .tab code {
      display: block;
      
  }

  .mytabs input[type="radio"]:checked +label+ .tab{
    display: block;

  }
  .mytabs input[type="radio"]:checked+label{
    background: linear-gradient(151deg, rgba(10,163,158,1) 0%, rgba(86,28,140,1) 100%);
      color: white;
      border: 1px solid white;
  }

/*output*/
.output{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.outputs{
    padding: 20px;
    background-color: #171717;
    color: white;
    display: block;
    max-width: 800px;
    
}

/*time complexity*/
.time {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.times{
    max-width: 800px;
    background-color: #171717;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.note{
    background-color: #2ddba7;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: .5rem;
}
.time h3{
    padding: 1rem ;
    display: block;
    border-top: 1px solid #555;
    width: 800px;
}

/*visual */
.visual{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.visuals{
    display: block;
    width: 800px;
    
}

.visual h3{
    display: block;
    width: 800px;
    padding: 1rem;
    border-top: 1px solid #555;
}
.visuals h4{
    background-color: #2ddba7;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}
.visual a{
    text-decoration: none;
    padding: 10px 30px;
    background: linear-gradient(264deg, #2AD8C6 0%, #63277B 100%);
    color: white;
    font-size: 20px;
    border-radius: 8px;
}
.visual a:hover{
    background: rgb(10,63,163);
    background: linear-gradient(151deg, rgba(10,63,163,1) 0%, rgba(140,28,28,1) 100%);
           
}

/*video*/
.video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*buttons next or previ*/
.forward{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.previ{
    display: block;
    width: 500px;
    border-right: 1px solid #555;
    padding: 2rem;
    text-align: left;
}
.next{
    display: block;
    width: 500px;
    
    padding: 2rem;
    text-align: right;
}